<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete User Profile</title>
</head>
<body>
    <h1>Welcome! Please complete your profile below:</h1>
    <br>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <!-- Accepting Name from user -->
            <label for="user_name">Name</label>
            <input type="text" id="user_name" name="user_name">
            <br><br>

            <!-- User needs to select department -->
            <span>Department:</span>
            <select name="text" id="department" onchange="Department()" data-pk="{{pk}}">
                <option value="CS Engineering" id="CSE">CS Engineering</option>
                <option value="Physics" id="Phy">Physics</option>
                <option value="Chemistry" id="Chem">Chemistry</option>
                <option value="Mathematics" id="Math">Mathematics</option>
            </select>
            <br><br>

            <!-- User needs to choose designation -->
            <span>Select Position:</span>
            <select name="designation" id="designation">
            </select>
            <br><br>
            <!-- Manager assigned if employee -->
            <p id="yourmanager"></p>
            <br>    
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        function Department()   {
            let dept = document.getElementById("department");
            let text = dept.options[dept.selectedIndex].text;
            let pk = department.getAttribute('data-pk');
            let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
                type: 'POST',
                url: '/api/users/',
                data: {
                    'text': text,
                    'csrfmiddlewaretoken': csrftoken
                },
                success: function (response){
                    len1 = 0 
                    len2 = 0
                    var val1 = response.pos1;  
                    if (val1) 
                        var len1 = val1.length;
                    var val2 = response.pos2;
                    if (val2)
                        var len2 = val2.length;
                    var designation = document.getElementById("designation");
                    var manager = document.getElementById("yourmanager");
                    var pos = '';
                    if (len1>0)   {
                        if(len2>0)  {
                            pos += '<option value="Manager" selected>Manager</option>';
                            pos += '<option value="employee">Employee</option>';
                            designation.innerHTML = pos;
                        }
                        else    {
                            pos += '<option value="employee">Employee</option>';
                            designation.innerHTML = pos;
                            manager.val = response.pos3;
                            manager.innerHTML = 'Your manager: '+response.pos3;
                        }
                    }
                    else    {
                        pos += '<option value="manager">Manager</option>';
                        pos += '<option value="employee">Employee</option>';
                        designation.innerHTML = pos;
                    }
                },
            }); 
        } 
    </script>
</body>
</html>